/* div h2{
    font-family: "Italic", sans-serif;
}

h2 + p{
    color:red;
}

.list > li{
    list-style-type: none;
    border-bottom: solid 1px gray;
} */


/* a:link{
    color:green;
}
a:visited{
    color:red;
}
a:focus{
    color:pink;
}
li:first-of-type::first-letter{
    font-weight: bold;
    font-size: 120%;
}

[title="BCIT homepage"]{
    background-color: yellow;
} */

img{
    float: left;
}

.below{
    clear: left;
}